.about-us {
	&__left {
		padding-left: 166px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__subtitle {
		@include font('Halvar Breitschrift', 400, 20px, 23px, #c3c3c3);
	}
	&__description {
		@include font('Inter', 400, 18px, 22px, $color-white);
		margin-top: 20px;
		margin-bottom: 32px;
	}
	&__right {
		padding: 0;
	}
}

@media (max-width: 800px) {
	.about-us {
		.row {
			flex-direction: column !important;
			align-items: center;
			.col-5,
			.col-7 {
				text-align: center;
				width: 100% !important;
			}
		}
		&__left {
			padding-left: 10px;
			align-items: center;
			margin-top: 30px;
			margin-bottom: 20px;
		}
	}
}

@media (max-width: 1100px) {
	.about-us {
		&__left {
			padding-left: 20px;
		}
	}
}
