.carousel2 {
	padding: 86px 0 108px 166px;
	.cards-list {
		display: flex;
		overflow-x: scroll;
		margin-bottom: -15px;
		padding: 46px 0 60px 0;
		&::-webkit-scrollbar {
			height: 3px;
			border-radius: 5px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
			background: #dadada;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: $color-red;
		}

		&::-webkit-scrollbar-button {
			// width: 300px;
		}
		&::-webkit-scrollbar-track {
			margin-right: 600px;
		}
	}
	&__item {
		&:first-child {
			margin-left: 24px;
		}
		position: relative;
		min-width: 482px;
		max-width: 482px;
		height: 394px;
		margin-right: 64px;
		.arrow {
			background-color: $color-red;
			padding: 13px;
		}
		img {
			object-fit: cover;
			height: 100%;
		}
	}
	&__info {
		position: absolute;
		top: -35px;
		left: -23px;
		background: $color-red;
		padding: 7px 20px;
		width: 282px;
		height: 70px;
		display: flex;
		align-items: center;
	}
	&__title {
		@include font('Halvar Breitschrift', 700, 24px, 27px, $color-white);
	}
	&__description {
		position: absolute;
		bottom: 32px;
		left: 43px;
		@include font('Inter', 400, 18px, 21px, $color-white);
	}
	.btn-wrapper {
		display: flex;
		justify-content: flex-end;
		margin-right: 173px;
		.scrollbar-prev,
		.scrollbar-next {
			width: 30px;
			cursor: pointer;
			z-index: 23;
		}
	}

	.disable {
		path {
			fill: #bdbdbd;
		}
	}
}

@media (max-width: 900px) {
	.carousel2 {
		padding: 36px 0 60px 10px;
	}
}
