.coaches-cards {
	padding: 86px 0 108px 166px;
	position: relative;
	&__bg {
		position: absolute;
		right: 0;
		top: 0;
		pointer-events: none;
	}
	&__top {
		a {
			cursor: pointer;
		}
	}
	.cards-list {
		display: flex;
		overflow-x: scroll;
		margin-bottom: -15px;
		padding: 46px 0 60px 0;
		&::-webkit-scrollbar {
			height: 3px;
			border-radius: 5px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
			background: #dadada;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: $color-red;
		}

		&::-webkit-scrollbar-button {
			// width: 300px;
		}
		&::-webkit-scrollbar-track {
			margin-right: 600px;
		}
	}
	&__item {
		&:first-child {
			margin-left: 20px;
		}
		position: relative;
		min-width: 327px;
		max-width: 327px;
		height: 450px;
		margin-right: 63px;
		&__description {
			@include font('Inter', 400, 18px, 22px, $color-white);
		}
		.arrow {
			background-color: $color-red;
			padding: 13px;
		}
		img {
			object-fit: cover;
			height: 100%;
		}
	}
	&__info {
		position: absolute;
		bottom: -11px;
		right: -23px;
		background: $color-white;
		padding: 17px 20px;
		max-width: 282px;
		width: 100%;
	}
	&__fullname {
		@include font('Halvar Breitschrift', 700, 22px, 25px, $color-dark);
		margin-bottom: 5px;
	}
	&__profession {
		@include font('Inter', 400, 16px, 19px, $color-dark);
	}
	.btn-wrapper {
		display: flex;
		justify-content: flex-end;
		margin-right: 173px;
		.scrollbar-prev,
		.scrollbar-next {
			width: 30px;
			cursor: pointer;
			z-index: 23;
		}
	}

	.disable {
		path {
			fill: #bdbdbd;
		}
	}
}

@media (max-width: 900px) {
	.coaches-cards {
		padding: 36px 0 60px 10px;
	}
}
