.form {
	padding: 86px 0 65px 0;
	background-color: $color-white;
	&__title {
		@include font('Halvar Breitschrift', 700, 72px, 83px, $color-dark);
		margin-bottom: 73px;
	}
	&__item-wrapper {
		display: flex;
		flex-wrap: wrap;
		&:first-child {
			background: red;
			margin: 79px;
		}
		&:last-child {
			margin: 49px;
		}
	}
	&__input {
		border: none;
		border-bottom: 1px solid #bdbdbd;
		outline: none;
		color: #828282;
		max-width: 360px;
		width: 100%;
		padding: 15px 0;
	}
	&__btn {
		border: 1px solid #ea3636;
		box-sizing: border-box;
		border-radius: 41px;
		@include font('Halvar Breitschrift', 500, 14px, 16px, $color-red);
		padding: 14px 34px;
		background: inherit;
		width: 158px;
    height: 44px;
	}
	&__label {
		display: flex;
		align-items: center;
		margin-top: 27px;
		cursor: pointer;
	}
	&__checkbox {
		appearance: none;
		width: 16px;
		height: 16px;
		border: 1px solid #9b9b9b;
		position: relative;
		margin-right: 9px;
		&:checked::before {
			position: absolute;
			left: 2px;
			top: -6px;
			content: url('/assets/images/checkbox-checked.svg');
		}
	}
}

@media (max-width: 576px) {
	.form {
		&__title {
			@include font('Halvar Breitschrift', 700, 32px, 43px, $color-dark);
		}
		&__item-wrapper {
			justify-content: center;
			&:first-child {
				margin: 0;
			}
			&:last-child {
				margin: 0;
			}
		}
		&__btn {
			margin-top: 10px;
		}
	}
}
