.services-section {
	position: relative;
	padding: 86px 0 100px 0;
	&__bg-item {
		position: absolute;
		bottom: 0;
		right: 0;
	}
	&__list {
		margin-top: 45px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 25px;
		grid-row-gap: 32px;
	}
	&__item {
		display: flex;
		background: linear-gradient(0deg, rgba(38, 38, 38, 0.65), rgba(38, 38, 38, 0.65));
		padding: 32px;
	}
	&__icon {
		margin-right: 16px;
		width: 56px;
		height: 56px;
		background: $color-red;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__text {
		@include font('Halvar Breitschrift', 700, 22px, 25px, $color-white);
	}
}

@media (max-width: 1030px) {
	.services-section {
		margin: 56px 0 70px 0;
		&__list {
			margin-top: 35px;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 15px;
			grid-row-gap: 22px;
		}
	}
}

@media (max-width: 800px) {
	.services-section {
		&__list {
			grid-template-columns: 1fr;
		}
	}
}
