.coaches {
	background: url('/assets/images/coaches-bg.png'),
		linear-gradient(88.57deg, rgba(0, 0, 0, 0.3) 7.05%, rgba(0, 0, 0, 0) 88.83%),
		linear-gradient(0deg, rgba(27, 27, 27, 0.2), rgba(27, 27, 27, 0.2)),
		url(82303825_3457178317658022_8003798369300381696_o.jpg) no-repeat center;
	background-size: cover;
}

.coaches-section {
	margin: 84px 0 65px 0;
	.title {
		margin-bottom: 81px;
	}
	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 63px;
		grid-row-gap: 80px;
	}
	&__item {
		position: relative;
		min-width: 327px;
		max-width: 327px;
		height: 450px;
		img {
			object-fit: cover;
			height: 100%;
		}
		&-info {
			position: absolute;
			bottom: -11px;
			right: -23px;
			background: $color-white;
			padding: 17px 20px;
			max-width: 282px;
			width: 100%;
		}
	}
	&__fullname {
		@include font('Halvar Breitschrift', 700, 22px, 25px, $color-dark);
		margin-bottom: 5px;
	}
	&__profession {
		@include font('Inter', 400, 16px, 19px, $color-dark);
	}
}

@media (max-width: 1203px) {
	.coaches-section {
		margin: 64px 0 45px 0;
		.title {
			margin-bottom: 51px;
		}
		&__list {
			grid-template-columns: 1fr 1fr;
			grid-column-gap: 33px;
			grid-row-gap: 50px;
		}
	}
}

@media (max-width: 780px) {
	.coaches-section {
		&__list {
			grid-template-columns: 1fr;
			grid-column-gap: 33px;
			grid-row-gap: 50px;
			justify-items: center;
		}
	}
}
