.schedule {
	background: url('../../images/contacts-bg.png'),
		linear-gradient(88.57deg, rgba(0, 0, 0, 0.3) 7.05%, rgba(0, 0, 0, 0) 88.83%),
		linear-gradient(0deg, rgba(27, 27, 27, 0.2), rgba(27, 27, 27, 0.2)),
		url(82303825_3457178317658022_8003798369300381696_o.jpg) no-repeat center;
	background-size: cover;

	min-height: 76vh;
}

.schedule-section {
	padding: 170px 0 115px 0;
	&__wrapper {
		display: flex;
		justify-content: center;
	}
	&__text {
		@include font('Inter', 400, 17px, 21px, $color-white);
	}
}

@media (max-width: 900px) {
	.schedule-section {
		padding: 70px 0 80px 0;
	}
}
