.services {
	background: url('/assets/images/services-bg.png'),
		linear-gradient(88.57deg, rgba(0, 0, 0, 0.3) 7.05%, rgba(0, 0, 0, 0) 88.83%),
		linear-gradient(0deg, rgba(27, 27, 27, 0.2), rgba(27, 27, 27, 0.2)),
		url(82303825_3457178317658022_8003798369300381696_o.jpg) no-repeat center;
	background-size: cover;

	&__container {
		max-width: 1180px;
		margin: 0 auto;
	}
	&__item {
		position: relative;
		max-width: 964px;
		width: 100%;
		height: 432px;
		img {
			object-fit: cover;
			height: 100%;
		}
	}
	&__info {
		position: absolute;
		bottom: -12px;
		right: -30px;
		background: $color-red;
		padding: 17px 20px;
		width: 73%;
	}
	&__title {
		@include font('Halvar Breitschrift', 700, 24px, 27px, $color-white);
		margin-bottom: 8px;
	}
	&__description {
		@include font('Inter', 400, 18px, 21px, $color-white);
	}

	.pool,
	.group-programs{
		margin: 85px 0 100px 0;
	}
}


@media (max-width: 1050px) {
	.services {
		&__info {
			left: 0;
			right: auto;
		}
	}
}